---
import '../styles/base.css';
// THEME: change this line to switch themes
// options: theme-subtle, theme-bold, theme-organic, theme-editorial
import '../styles/theme-organic.css';

import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

const { title = 'Ayamatma', description, lang = 'en' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {description ? <meta name="description" content={description} /> : null}
    <title>{title}</title>
  </head>
  <body>
    <SiteHeader lang={lang} />
    <main class="container page">
      <slot />
    </main>
    <SiteFooter lang={lang} />
  </body>
</html>
